@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Mulish:ital,wght@0,600;0,700;1,500;1,600&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: rgba(0, 0, 0);
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Mulish", serif;
    --branco: rgb(224, 221, 221);
}


/* Nav */

nav {
    width: 100%;
    background-color: #000;
    color: azure;
    height: 4.5rem;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.9;
}

.menu {
    display: flex;
    align-items: center;
}

.logo img {
    width: 9rem;
    height: 4rem;
    margin-top: 0.5rem;
}

.social-media-barra {
    margin-left: 5rem;
}

.social-media-barra i {
    color: #c32538;
    height: 1rem;
    width: 1rem;
    font-size: 1.2rem;
    transition: color 1s;
    margin-left: 1rem;
}

.social-media-barra i:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.menu-link {
    font-family: var(--font-secundary);
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0.5rem;
    color: var(--branco);
    transition: color 1s;
}

.menu-link:hover {
    color: #c32538;
}

/* Banner */
main {
    width: 100%;
    height: 100% vh;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
    /* min-width: 100vh;
    min-height: 100vh; */
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;/* a imagem não fica esprimida */
    opacity: 0.4;
    animation: zoom 5s forwards;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    /* elemento por cima da img */
    top: 30%;
    left: 10%;
}

.banner h1 {
    color: #fff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 400;
    text-shadow: .3rem .3rem 2px rgba(0, 0, 0, 0.4);
    line-height: 4rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1.5s 0.5s forwards;
}

.banner p {
    font-family: var(--font-primary);
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    text-shadow: .2rem .2rem rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1.5s 0.7s forwards;
}

.banner button {
    font-family: var(--font-secundary);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #ED213A;
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);
    background: linear-gradient(to right, #93291E, #ED213A);
    padding: 0.7rem 2.5rem 0.7rem 2.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1.5s 0.9s forwards;
}

@keyframes moveBanner {
    0% {
        transform: translateX(10rem) rotateX(-30deg);
    }
    100% {
        transform: translateX(0) rotateX(0);
        opacity: 1;
    }
}

.social-media {
    /* margin-top: 2rem; */
    margin-bottom:3rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.social-media i {
    color: #c32538;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 2rem;
    transition: color 1s;
    display: flex;
    justify-content: center;
    padding-left: 1.3rem;
}

.social-media i:hover {
    opacity: 0.8;
    transform: scale(1.1);
}


/* Sobre */

.sobre {
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sobre-mim {
    width: 53rem;
    height: 45rem;
    /* width: 70%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-img-wrapper {
    margin-bottom: 5rem;
    width: 32rem;
    height: 25rem;
    border-radius: 2rem;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, .2);
}

.sobre-img-wrapper img {
    object-fit: cover;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.sobre-mim-info {
    color: var(--branco);
    margin-left: 3rem;
    width: 100%;
    font-family: var(--font-secundary);
    font-size: 1.3rem;
    line-height: 1.6;
    text-align: justify;
}

.sobre-mim-info .btn {
    width: 13rem;
    height: 2.2rem;
}

.sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: var(--branco);
    border-bottom: solid 3px #c32538;
    margin-top: 4.5rem;
    margin-bottom: 1rem;
}


/* Skills */

.conhecimentos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 60vh;
}

.conhecimento {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.conhecimento-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13rem;
    height: 10rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    border: 1px solid rgb(63, 63, 63, 0.8);
    border-radius: 0.3rem;
    background-color: rgb(187, 187, 187);
}

.conhecimento-conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 5rem;
}

.conhecimento-conteudo i {
    color: #131313;
}

.conhecimento-conteudo img {
    width: 6rem;
}

.conhecimento p {
    color: rgba(0, 0, 0, 0.7);
    font-family: var(--font-secundary);
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-top: 0.3rem;
    font-weight: 800;
}


/* Projetos */

.projetos {
    width: 100%;
    height: 85vh;
}

.card {
    box-shadow: 0.5rem 0.8rem 2rem rgba(0, 0, 0, 0.7);
    margin-top: 2rem;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
}

.card-img-wrapper img {
    object-fit: cover;
    /*ajusta o elemento á caixa estabelecida*/
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-radius: 0.5rem;
    transition: opacity .2s;
}

.card:hover .card-img-wrapper img {
    opacity: .2;
}

.card-info {
    position: absolute;
    bottom: 0;
    left: 1;
    padding: 2rem;
    text-shadow: 0.4rem 0.3rem 0.3rem rgba(0, 0, 0, .6);
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}

.card-info h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
}

.card-info h3 {
    font-family: var(--font-secundary);
    font-weight: bolder;
    color: #ED213A;
    margin-bottom: 0.7rem;
}

.card-info p {
    font-family: var(--font-secundary);
    font-weight: 400;
    width: 80%;
    color: #eee;
}

.btn {
    width: 8rem;
    height: 2.2rem;
    margin-top: 1rem;
    background: #ED213A;
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);
    background: linear-gradient(to right, #93291E, #ED213A);
    font-family: var(--font-secundary);
    font-size: 1rem;
    color: #eee;
    border-radius: .2rem;
    border: none;
    box-shadow: 0 0.2rem 8rem rgba(0, 0, 0, 1);
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.card:hover .card-info {
    bottom: 1.5rem;
    opacity: 1;
    visibility: visible;
}


/* Contato */

.sessao-contato {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
}

.contato-wrapper {
    width: 80%;
    height: 20rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}

.contato-left {
    width: 30%;
    background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)), url(imagens/img_contato.png);
    background-size: cover;
}

.contato-right {
    width: 65%;
    background-color: #fff;
    padding: 1rem 3rem 3rem 3rem;
}

.sessao-contato h1 {
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: rgba(0, 0, 0, 0.7);
    font-size: 3rem;
    font-weight: lighter;
}

.meu-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    cursor: pointer;
    color: rgba(0, 0, 0, .6)
}

.meu-contato a {
    color: rgba(0, 0, 0, .8)
}

.meu-contato i {
    font-size: 2rem;
}

.contato-email a:hover i,
.contato-whats a:hover i {
    color: #c32538;
}

.contato-email a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    font-family: var(--font-secundary);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.contato-whats a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    font-family: var(--font-secundary);
    font-size: 1.3rem;
}


/*Rodapé*/

footer {
    width: 100%;
    height: 7rem;
    background-color: #494949;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.footer-content p {
    font-family: var(--font-secundary);
    color: var(--branco);
    font-size: 0.8rem;
}

.footer-content p a {
    color: rgb(129, 129, 129);
    font-weight: 700;
}

.footer-content p a:hover {
    color: #c32538;
}

.social-list a {
    margin: 0 1rem;
    color: var(--branco);
    font-size: 1.3rem;
}

.social-list ul {
    display: flex;
}


/*Animação*/

[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime="left"] {
    transform: translate3d(-250px, 0, 0);
}

[data-anime="top"] {
    transform: translate3d(0, -30px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}